<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EmpDemo</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>

<a class="btn btn-danger" role="button" href="/logout"><i class="fa fa-lock"></i></a></div>

<form style="margin: 10px;" method="post" action="/emp/save/" th:object="${Emp}">

    <input class="form-control" type="hidden" name="empId">
    <input class="form-control" type="text" name="name" placeholder="Enter Name">
    <input class="form-control" type="text" name="salary" placeholder="Enter Salary">
    <button class="btn btn-primary" type="submit" style="margin-right: 5px;margin-top: 5px;">Save</button>
    <button class="btn btn-secondary" type="reset" style="margin-top: 5px;">Clear</button></form>

<div class="table-responsive" style="margin: 10px;width: 60%;">
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">NAME</th>
            <th style="text-align: center;">SALARY</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp : ${listEmp}">
            <td class="text-end" th:text="${emp.getId()}"></td>
            <td th:text="${emp.getName()}"></td>
            <td class="text-end" th:text="${emp.getSalary()}"></td>
            <td class="text-end">
                <div class="btn-group" role="group">
                    <a class="btn btn-danger" role="button" th:href="@{/emp/delete/{id}/(id = ${emp.getId()})}"><i class="fa fa-trash-o"></i></a></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<nav style="margin: 10px;">
    <ul class="pagination">

        <li class="page-item" th:classappend="${curPage == 1} ? 'disabled'">
            <a class="page-link" th:href="@{/{prevPage}/(prevPage = ${curPage - 1})}" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>

        <li class="page-item" th:classappend="${curPage == pageNo} ? 'active'" th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
            <a class="page-link" th:href="@{/{curPage}/(curPage = ${pageNo})}"> <span aria-hidden="true" th:text="${pageNo}"></span> </a>
        </li>


        <li class="page-item" th:classappend="${curPage == totalPages} ? 'disabled'">
            <a class="page-link" th:href="@{/{prevPage}/(prevPage = ${curPage + 1})}" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>



    </ul>
</nav>


<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>